{{- /* Giscus Comments */ -}}
{{- if and site.Params.giscus.repo (not (eq .Params.comments false)) -}}
<div class="giscus-comments">
    <script src="https://giscus.app/client.js"
        data-repo="{{ site.Params.giscus.repo }}"
        data-repo-id="{{ site.Params.giscus.repoID }}"
        data-category="{{ site.Params.giscus.category }}"
        data-category-id="{{ site.Params.giscus.categoryID }}"
        data-mapping="{{ site.Params.giscus.mapping | default "pathname" }}"
        data-strict="0"
        data-reactions-enabled="{{ site.Params.giscus.reactionsEnabled | default "1" }}"
        data-emit-metadata="{{ site.Params.giscus.emitMetadata | default "0" }}"
        data-input-position="{{ site.Params.giscus.inputPosition | default "bottom" }}"
        data-theme="{{ site.Params.giscus.theme | default "preferred_color_scheme" }}"
        data-lang="{{ site.Params.giscus.lang | default "en" }}"
        data-loading="{{ site.Params.giscus.loading | default "lazy" }}"
        crossorigin="anonymous"
        async>
    </script>
</div>
{{- end -}}
