{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;|&nbsp;{{- end -}}
{{- end -}}
<span>{{- i18n "translations" | default "Translations" }}:</span>
<ul class="i18n_list">
    {{- $seen := dict -}}
    {{- $currentPermalink := .Permalink -}}
    {{- range .Translations -}}
    {{- if not (index $seen .Permalink) -}}
    {{- if ne .Permalink $currentPermalink -}}
    {{- $seen = merge $seen (dict .Permalink true) -}}
    {{- $lang := .Lang -}}
    {{- if strings.Contains .RelPermalink "/en/" -}}
    {{- $lang = "en" -}}
    {{- else -}}
    {{- $lang = "zh" -}}
    {{- end -}}
    <li>
        <a href="{{ .Permalink }}">
            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) -}}
            {{- .Language.LanguageName | emojify -}}
            {{- else -}}
            {{- $lang | title -}}
            {{- end -}}
        </a>
    </li>
    {{- end -}}
    {{- end -}}
    {{- end -}}
</ul>
{{- end -}}
